langchain==1.0.8
langchain-community==0.4.1
langchain-core==1.0.7
langchain-milvus==0.3.0
langchain-openai==1.0.3
langchain-text-splitters==1.0.0
langgraph==1.0.3
milvus-lite==2.5.1
openai==2.8.1
pdfplumber==0.11.8
psycopg2==2.9.11
pymilvus==2.6.3
pymilvus.model==0.3.2
pypdf==6.3.0
streamlit==1.51.0